.logos{
  height: 80px;
}

.blueBackground{
  background-color: #304D63;
}

.lightBackground{
  background-color: #F0F2F2;
}

.redBackground{
  background-color: #F79F77;
}

.redButton{
  background-color: #F79F77;
}

.title{
  font-size: 40px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-weight: bold;
}


.board .board-row {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #132F63;
}
.board .board-row:last-child {
  border-bottom: none;
}
.board .board-row .square {
  width: 100px;
  height: 100px;
  border-right: 2px solid #132F63;
  font-size: 2.5rem;
  padding: 0;
  overflow: hidden;
  transition: all 0.2s;
}
.board .board-row .square:last-child {
  border-right: none;
}
.board .board-row .square.winning {
  animation: scaleText 1.5s ease-in infinite;
}

.memory .memory-row{
  display: flex;
  flex-direction: row;

}

.memory .memory-row .memory-card {
  width: 150px;
  height: 150px;
  border: 2px solid #132F63;
  font-size: 2.5rem;
  padding: 0;
  overflow: hidden;
  transition: all 0.2s;
}

.outlier .outlier-row{
  display: flex;
  flex-direction: row;
}

.outlier .outlier-row .element{
  width: 150px;
  height: 150px;
  font-size: 2.5rem;
  padding: 0;
  overflow: hidden;
  transition: all 0.2s;
}


.gameButton {
  background: none;
  border: none;
  outline: none;
}
button:hover {
  cursor: pointer;
}

.app {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-green {
  color: #50ca1fce;
}

.text-orange {
  color: #e69124f8;
}

.status-message {
  margin-bottom: 30px;
  font-size: 1.2rem;
  font-weight: lighter;
}
.status-message span {
  font-weight: normal;
}

.btn-reset {
  font-size: 1rem;
  color: #fff;
  border-radius: 15px;
  padding: 12px 18px;
  margin-top: 39px;
  transition: all 0.2s;
  background-color: #253b7e;
  box-shadow: 0px 0px 0px 1px #e69124f8;
}
.btn-reset.active {
  background-color: #e69124f8;
  box-shadow: none;
}

.panel{
  width: 360px;
  height: 360px;
  background-color: #F0F2F2;
  border: 10px solid black;
  border-radius: 10px;
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: 20px;
  display: flex;
  /* 用flex使其居中定位 */
  justify-content: space-around;
  /* 垂直方向居中定位 */
  align-items: center;
}

.stage{
  width: 304px;
  height: 304px;
  border: 2px solid #000;
  position: relative;
  overflow: hidden;
}

.food{
  width: 10px;
  height: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: #F0F2F2;
  justify-content: space-between;
  align-content: space-between;
  position: absolute;
  left: 10px;
  top: 10px;
}

.food div{
  background-color: #000;
  width: 4px;
  height: 4px;
  transform: rotate(45deg);
}

.snake div{
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #000;
  border: 1px #F0F2F2 solid;
}